%nav
  .nav-wrapper.blue
    %a{:href => "#"}
      %img.brand-logo{:alt => "", :src => "#{asset_path("images/logo.jpg")}"}/
    %ul#nav-mobile.right.hide-on-med-and-down
      %li
        %a{:href => "sass.html"} Sass
      %li
        %a{:href => "badges.html"} Components
      %li
        %a{:href => "collapsible.html"} JavaScript
